
/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.adminbody {
		    background:#fff;
		    font-family: "Segoe UI", Roboto, "Noto Sans KR", sans-serif;
		    margin:0;
		  }

		  /* 상단 전체 검은색 바 */
		  .topbar {
		    background:#000;
		    color:#fff;
		    padding:12px 18px;
		    display:flex;
		    justify-content:space-between;
		    align-items:center;
		  }

		  /* 네비게이션 영역 */
		  .nav-black {
		    background:#504848;
		    display:flex;
		    justify-content:space-around;
		    gap:2px;
		    padding:0;
		    margin:0;
		  }
		  .nav-black a {
		    color:#fff;
		    text-decoration:none;
		    padding:10px 20px;
			width:12.5%;
		    display:inline-block;
			text-align: center;
		  }
		  .nav-black a:hover {
		    background:#F24822;
		    color:#fff;
		  }
		  .nav-black a.active {
		    background:#F24822;
		    color:#fff;
		  }

		  .content {
		    padding:30px;
		  }

/* 메인 수정 */

 /* bottom-header 수정 부분 */

.bottom-header {
	display: flex;
	justify-content: center;
	font-size: 25px;
	/* default bottom-header 폰트 사이즈 */
	background-color: white;
	/* bottom-header 배경색 추가 */
	border-bottom: 1px solid #eee;
	/* 하단 경계선 */
	padding: 20px 0;
	/* 세로 패딩 */
	letter-spacing: 3px;
}

.bottom-header-sub{
	display: flex;
	flex-direction: column; /* ← makes items go top-to-bottom */
	justify-content: center; /* centers vertically inside container */
	align-items: center;
	width:600px;
	height: 60px;
	border-radius: 10px;
	box-sizing: border-box;
	line-height: 60px;
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

}
/* .bottom-header-sub:hover{
	background-color: #f1f1f1;
	/* transition: 0.3s; */
	/* opacity: 0.5; 0 = fully transparent, 1 = fully opaque */


.bottom-header a:hover {
	transform: scale(1.1);
	transition: transform 0.3s ease-out; /* faster ease-out */
}

.bottom-header a {
	color: black;
	transition: transform 0.2s ease-in; /* slower ease-in */
	display: inline-block;
}

.bottom-header div {
	display: inline-block;
	margin-right: 100px;
	/* default bottom-header div의 마진 */
	margin-top: 0;
	/* flex-align으로 중앙 정렬 */
	text-align: center;
}


/* bottom-header 수정 부분 */

.bottom-header div:last-child {
	margin-right: 0;
}

.bottom-header a {
	color: black;
	/* default bottom-header 링크색 */
}

.brand-name div {
	font-family: 'Jost', sans-serif;
	font-size: 60px;
	font-weight: 900;
	letter-spacing: 3px;
	margin-left: 0;
	/* top-header div의 default margin-left 상쇄 */
	display: block;
	color: white;
	/* default 유지 */
}